{
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "printWidth": 120,
  "embeddedLanguageFormatting": "auto",
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "semi": true,
  "overrides": [
    {
      "files": [
        "*.jsx?"
      ],
      "options": {
        "parser": "typescript",
        "jsxSingleQuote": false,
        "jsxBracketSameLine": false
      }
    },
    {
      "files": [
        "*.mdx"
      ],
      "options": {
        "parser": "mdx"
      }
    },
    {
      "files": [
        "*.json"
      ],
      "options": {
        "parser": "json"
      }
    }
  ]
}
